@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@500&family=Fredoka:wght@300&family=Halant:wght@300&family=IBM+Plex+Sans:wght@100;200;300;500&family=Josefin+Sans:wght@500&family=M+PLUS+1:wght@200&family=Montserrat+Alternates:wght@100&family=Montserrat:wght@100;400&family=Mukta:wght@200&family=Nanum+Gothic:wght@700&family=News+Cycle&family=Newsreader:opsz,wght@6..72,200;6..72,400&family=Open+Sans&family=PT+Sans+Narrow:wght@400;700&family=Press+Start+2P&family=Prompt&family=Quicksand:wght@300;400&family=Raleway:ital,wght@0,200;0,500;1,400&family=Reem+Kufi+Fun:wght@400;500&family=Roboto:wght@100&family=Sarabun:wght@200&family=Satisfy&family=Signika:wght@300&family=Source+Code+Pro:wght@300;700&family=Tajawal&family=Ubuntu:ital,wght@0,300;1,700&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 153, 255);
}
.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #6377ee 0.89%,
    #6377ee 17.23%,
    #6377ee 42.04%,
    #6377ee 55.12%,
    #6377ee 71.54%,
    #6377ee 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text-gradients {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #ffffff 0.89%,
    #f6f7ff 42.04%,
    #f3f3f3 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.svg_icon {
  box-shadow: 0px 0px 40px rgba(0, 132, 255, 0.3);
}
/* .feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
} */

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}



.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.nav_bg {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}

.nav__black {
  background: rgb(255, 255, 255);
}

.gt_buss {
  margin-bottom: 3rem;
}

/* .str_img_box:hover{
  background-color: rgba(162, 239, 255, 0.738) !important;
} */

.nav_li {
  color: black;
}

.hero_bg {
  background: linear-gradient(
    130deg,
    #ffe5ae 0%,
    white 25%,
    rgb(189, 189, 255) 50%,
    #ffc0c0 100%
  );
  /* filter: blur(123px); */
}

.pinhead {
  color: #3e495e !important;
}

.wrv {
  font-size: 1.2rem;
}

/* sss */

.service-section {
  position: relative;
  padding: 50px 0px 50px 0px;
}

.service-section .sec-title {
  margin-bottom: 60px;
}

.service-block-one .inner-box {
  position: relative;
  padding-left: 105px;
  margin-bottom: 55px;
}

.service-block-one .inner-box .icon-box {
  position: absolute;
  left: 0px;
  top: 12px;
  font-size: 36px;
  background: #fff;
  width: 66px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 0 7px #edf1fe;
  transition: all 500ms ease;
}
.icon-box {
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  margin-bottom: 43px;
  display: inline-block;
  z-index: 1;
  transition: all 500ms ease;
  background: #d5f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-box1 {
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  margin-bottom: 43px;
  display: inline-block;
  z-index: 1;
  transition: all 500ms ease;
  background: #d5f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6377ee;
}
.icon-box:hover {
}

.svg_our1 {
  filter: invert(1);
}

.svg_our2 {
  filter: invert(1);
}
.svg_our3 {
  filter: invert(1);
}

.svg_our4 {
  filter: invert(1);
}

.svg_our5 {
  filter: invert(1);
}

.svg_our6 {
  filter: invert(1);
}

.image-box2 {
  background: rgba(0, 115, 255, 0.412);
}


.ib {
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  align-items: center;
  padding: 70px 50px 50px 50px;
  min-height: 566px;
  margin-top: 2rem;
  box-shadow: 0 10px 30px 3px rgb(99 119 238 / 40%);
  transition: all 500ms ease;
}
.ib:hover {
  box-shadow: 0 0 0 7px #edf1fe;
  transition: all 500ms ease;
}

.rest_bg {
  background: linear-gradient(
    130deg,
    #aed4ff 0%,
    white 25%,
    rgb(189, 189, 255) 50%,
    #ffc0c0 100%
  );
}

.service-block-one:hover .inner-box .icon-box {
  color: #fff;
}

.service-block-one .inner-box .icon-box:after {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  left: -7px;
  top: -7px;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 30px 50px 0px rgba(99, 119, 238, 0.2);
  transition: all 500ms ease;
}

.service-block-one .inner-box h3 {
  margin-bottom: 18px;
}

.service-section.service-page .service-block-one .inner-box .icon-box {
  position: relative;
  top: 0px;
  width: 76px;
  height: 76px;
  line-height: 76px;
  margin-bottom: 31px;
}

.service-section.service-page .service-block-one .inner-box .icon-box:after {
  width: 90px;
  height: 90px;
}

.service-section.service-page .service-block-one .inner-box {
  padding-left: 0px;
}

.service-section.service-page .service-block-one .inner-box h3 {
  margin-bottom: 13px;
}

.service-section.service-page .service-block-one .inner-box {
  margin-bottom: 100px;
}

.test_head_sub {
  font-size: 18px;
  color: #2b2b2b;
  letter-spacing: 0;
  text-transform: capitalize;
  max-width: 550px;
  display: block;
  margin: 20px auto 0;
  font-weight: 300;
}

.test_head_head {
  position: relative;
  font-size: 40px;
  line-height: 60px;
  color: #3b3b3b;
  font-weight: 700;
  padding-bottom: 0px;
}

.post-hire {
  text-align: center;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-hire h4 {
  color: #3b3b3b;
  font-weight: 600;
  font-size: 23px;
  padding: 20px 0;
}

.post-hire p {
  color: #000000;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.lower-content {
  padding: 24px 30px 23px 40px;
}

.noHovered{
  
}

.image-box2 {
  background: linear-gradient(
    to right,
    rgb(0, 55, 255),
    rgb(0, 110, 255),
    rgb(255, 89, 222)
  );
  height: 192.7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease;
}
.search_ico {
  font-size: 2rem;
  filter: invert(1);
}
.if {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 10px 50px 15px #d4c9f0;
  min-height: 366px;
}
.vids_text {
  font-size: 18px;
}
.image-holder {
  position: relative;
  display: block;
  overflow: hidden;
}

.arti_text {
  position: relative;
  display: block;
  font-size: 21px;
  line-height: 30px;
  color: #3b3b3b;
  font-weight: 600;
  z-index: 1;
  margin-bottom: 0.5rem;
}

.arti_date {
  display: block;
  font-size: 17px;
  line-height: 28px;
}

.feature_text {
  display: block;
  font-size: 21px;
  line-height: 30px;
  color: #3b3b3b;
  font-weight: 600;
  margin-bottom: 23px;
  z-index: 1;
}

.feature_text_sub {
  font-size: 16px;
  line-height: 32px;
  font-family: 'Poppins';
  color: #555555;
  margin: 0px;
  transition: all 500ms ease;
}


.main-footer {
  position: relative;
}

.main-footer .footer-top {
  position: relative;
  padding: 60px 0px 30px 0px;
  border-bottom: 1px solid #e6eaf1;
}

.main-footer .footer-top .footer-widget {
  position: relative;
}

.main-footer .footer-top .logo-widget {
  margin-right: -30px;
}

.main-footer .footer-top .logo-widget .footer-logo {
  position: relative;
  margin-bottom: 30px;
}

.main-footer .footer-top .logo-widget .text p {
  line-height: 34px;
}

.main-footer .footer-top .links-widget {
  margin-left: 70px;
}

.main-footer .footer-top .links-widget .widget-content ul li {
  position: relative;
  display: block;
  margin-bottom: 8px;
}

.main-footer .footer-top .links-widget .widget-content ul li:last-child {
  margin-bottom: 0px;
}

.main-footer .footer-top .links-widget .widget-content ul li a {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 26px;
  color: #5b5b5b;
}

.hamb{
  filter: invert(1);
}

.main-footer .footer-top .links-widget .widget-content ul li a:before {
  position: absolute;
  content: "";
  right: 0px;
  bottom: 0px;
  width: 0%;
  height: 1px;
  transition: all 500ms ease;
}

.main-footer .footer-top .links-widget .widget-content ul li a:hover:before {
  width: 100%;
  left: 0px;
}

.main-footer .footer-top .links-widget .widget-content ul li a:hover {
}

.main-footer .footer-top .footer-widget .widget-title {
  margin-bottom: 33px;
  position: relative;
}

.main-footer .footer-top .footer-widget .widget-title h3 {
  margin: 0px;
}

.main-footer .footer-top .contact-widget .widget-content ul li {
  position: relative;
  display: block;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 9px;
}

.main-footer .footer-top .contact-widget .widget-content ul li:last-child {
  margin-bottom: 0px;
}

.main-footer .footer-top .contact-widget .widget-content ul li a {
  color: #848484;
}

.main-footer .footer-top .contact-widget .widget-content ul li a:hover {
}

.main-footer .footer-top .contact-widget .widget-content {
  position: relative;
  margin-bottom: 25px;
}

.main-footer .footer-top .contact-widget .social-links li {
  position: relative;
  float: left;
  margin-right: 10px;
}

.main-footer .footer-top .contact-widget .social-links li:last-child {
  margin-right: 0px;
}

.main-footer .footer-top .contact-widget .social-links li a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #3d415b;
  background: #ebf0f7;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
}

.main-footer .footer-top .contact-widget .social-links li a:hover {
  color: #fff;
}

.main-footer .footer-bottom {
  position: relative;
  padding: 45px 0px;
}

.main-footer .footer-bottom .copyright a {
  color: #848484;
}

.main-footer .footer-bottom .copyright a:hover {
}

.main-footer .footer-bottom .footer-nav li {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

.main-footer .footer-bottom .footer-nav li:before {
  position: absolute;
  content: "";
  background: #848484;
  width: 1px;
  height: 14px;
  top: 9px;
  right: -18px;
}

.main-footer .footer-bottom .footer-nav li:last-child:before {
  display: none;
}

.main-footer .footer-bottom .footer-nav li:last-child {
  margin-right: 0px;
}

.main-footer .footer-bottom .footer-nav li a {
  color: #848484;
}

.main-footer .footer-bottom .footer-nav li a:hover {
}

.cta-section {
  position: relative;
  overflow: hidden;
  padding: 60px 0px;
  border-radius: 30px;
  object-fit: contain;
  background-size: cover;
  background-position: center center;
}

.linear_GRAD {
  position: absolute;
  height: 100%;
  background: linear-gradient(5deg, #0000007d, #00000099);
  width: 100%;
  z-index: 0;
  top: 0px;
}

.cta-section .content-box {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.cta-section .content-box h2 {
  position: relative;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 48px;
}

.cta-section .pattern-1 {
  position: absolute;
  left: -30px;
  top: -30px;
  width: 435px;
  height: 405px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
}

.cta-section .pattern-2 {
  position: absolute;
  right: 30px;
  bottom: -30px;
  width: 365px;
  height: 195px;
  background-repeat: no-repeat;
  -webkit-animation: zoom-fade 5s infinite linear;
  animation: zoom-fade 5s infinite linear;
}


.footer_text{
  color: rgb(45, 45, 45) !important;
}






.anim-icon{
  position: absolute;
  width: 130px;
  height: 130px;
  animation: rotationss 2s infinite linear;
}
.anim-icons{
  position: absolute;
  width: 130px;
  height: 130px;
}
@keyframes rotationss {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
.icon-1{
    width: 20px;
    height: 20px;
    left: 6px;
    background: rgb(41 137 255 / 58%);
    position: absolute;
    border-radius: 50%;
    animation: upside 1s infinite ease-in-out;
}

.icon-2{
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgb(41 137 255 / 62%);
    left: 103px;
    border-radius: 50%;
    animation: upside 1s infinite ease-in-out;

}

.icon-3{
    position: absolute;
    width: 25px;
    height: 25px;
    background: rgb(41 137 255 / 62%);
    left: 40px;
    top: 119px;
    border-radius: 50%;
    animation: upside 1s infinite ease-in-out;

}

.logo_im{
  display: flex;
  justify-content: center;
  align-items:center;
  animation: upsides 2s infinite ease-in-out;

}

@keyframes upsides{
  0% {
      transform: scale(0.99);
  }
  50% {
      transform: scale(1);
  }
  100% {
    transform: scale(0.99);
}
}

@keyframes upside {
  0% {
      transform: scale(0.9);
  }
  50% {
      transform: scale(1);
  }
  100% {
    transform: scale(0.9);
}
}


.scroll_to_top{
  width: 50px;
  height: 50px;
  background: linear-gradient(to top, rgb(13, 0, 255),rgb(255, 83, 181));
  display: flex;
  justify-content:center;
  border-radius: 50%;
  align-items:center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: absolute;
  top: 100px;

}

.upArrow{
  font-size: 2rem;
  font-weight: 700;
  filter: invert(1);
}
.upArrow:hover{
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
.scroll_btn{
  position: fixed;
  display: flex;
  top: 550px;
  right: 25px;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 100;
}


.logo_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Reem Kufi Fun', sans-serif;
  font-weight: 600;
  color: #2187bd;
  margin-left: 0.6rem;
  font-size: 1rem;
}


.main_logo{
  display: flex;
}




.icon-style{
  border-radius: 50%;
  /* height: 50px; */
  /* width: 50px; */
  cursor: pointer;
  animation: movebtn 1s ease-in-out infinite !important;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
}

@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(2px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-7px);
  }
  100%{
    transform: translateY(0px);
  }
}